.home-carousel {
    margin-top: 0;
}

.home-carousel-img {
    width: 100%;
    object-fit: cover;
    max-height: 600px;
}

@media (max-width: 768px) {
    .home-carousel-img {
        max-height: 280px;
    }
}


.h03 {
    background: url(https://res.cloudinary.com/du73nhdbv/image/upload/v1758178598/TRANG_CHU%CC%89_3-02_ghj1dj.jpg) no-repeat;
    background-size: cover;
    min-height: 200px;
}
.home-head{
    margin-top: -70px;

}
.h04{
    background:
    linear-gradient(45deg, #2e2e2e 0%, #2e2e2e 7%, transparent 7%) right,
    linear-gradient(-45deg, #2e2e2e 0%, #2e2e2e 7%, transparent 7%)  left,
    #006837;
}

.h05 .border, .h07 .border{
    border-radius: 50%;
}

  .h06{
    background:
    linear-gradient(45deg, #2e2e2e 0%, #2e2e2e 7%, transparent 7%) right,
    linear-gradient(-45deg, #2e2e2e 0%, #2e2e2e 7%, transparent 7%)  left,
    #b70000;
}

.h07 {
    background: url(https://res.cloudinary.com/du73nhdbv/image/upload/v1774593551/TRANG_CH%E1%BB%A6_ENG-12_mc5sl6.png) no-repeat;
    background-size: cover;
    min-height: 600px;
    padding: 100px 0 100px 100px;
}

.col-5-5 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .col-5-5 {
    flex: 0 0 45.8333%;
    max-width: 45.8333% !important;
  }
}

.bg-custom{
    background-color: #0171de;  
}